html{
  background-color: black;
  margin-top: 2rem;
}

body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form{
  background-color: white;
  position: fixed;
  padding: 10px;
}

button{
  background-color: lightgrey;
  border: 2px outset lightgrey;
  border-radius: 10px;
}

.book{
  width: 250px;
  height: 350px;
  text-align: center;
  display: inline-block;
  background-color: sienna;
  border: 5px solid;
  border-bottom-width: 0px;
  border-left-width: 20px;
  border-radius: 10px 0px 0px 10px;
  border-color: white white sienna saddlebrown;
  margin: 25px;
}

.newBook{
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.addBook{
  background-color: lightgrey;
  border: 2px outset lightgrey;
  border-radius: 10px;
}

.delete{
  position: relative;
  right: 95px;
  background-color: sienna;
  border: dotted saddlebrown;
}

.hidden{
  visibility: hidden;
}

.delete:hover{
  background-color: saddlebrown;
}
